.fade-in {
    opacity: 0; 
    animation: fadeIn 1s forwards; 
}

@keyframes fadeIn {
    to {
        opacity: 1; 
    }
}

/* Home */
body {
    background-image: url("/images/background-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Readex Pro", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

h1, h2, h3, h4, h5 {
    font-family: "Readex Pro", sans-serif; 
}

body, p, span, div, .card-text, .lead {
    font-family: "Inter Tight", sans-serif; 
}

.custom-navbar {
    background: linear-gradient(to right, rgba(5, 5, 5, 0.6), rgba(34, 34, 34, 0.6));
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 20px;
    padding: 0.1rem 1rem; 
    margin: 20px; 
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15); 
    backdrop-filter: blur(10px);
    height: 60px; 
    display: flex;
    align-items: center;
    position: sticky; 
    top: 10px; 
    z-index: 1000; 
}

.custom-navbar .navbar-brand,
.custom-navbar .navbar-nav .nav-link {
    line-height: 1; 
}

.custom-search {
    background-color: rgba(255, 255, 255, 0.079);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    color: #ffffff;
}

.custom-search::placeholder {
    color: rgba(193, 193, 193, 0.798);
}

.custom-navbar .nav-link.active {
    color: white;
    font-weight: normal; 
}

.custom-navbar .nav-link {
    color: rgba(255, 255, 255, 0.7); 
}

.custom-navbar .nav-link:hover {
    color: rgba(255, 255, 255, 1);
}

.btn-light {
    background-color: rgba(255, 255, 255, 0.829);
    color: #1d1d1d;
    border: none; 
    transition: background-color 0.3s ease, color 0.3s ease; 
}

.btn-light:hover {
    background-color: rgba(255, 255, 255, 1);
    color: #343a40;
}

.hero-background-img {
    position: relative;
    width: 100vw;
    height: 100vh; 
    overflow: hidden;
}

.hero-background-img img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
}

.hero-content {
    position: absolute;
    top: 40%;
    left: 0;
    transform: translateY(-50%);
    text-align: left;
    padding: 20px;
    color: white; 
    z-index: 2; 
}

.small-image {
    max-width: 40%;
    height: auto; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    position: absolute; 
    top: 90%;
    left: 20.0%; 
    transform: translate(-50%, -50%); 
}

h1, .lead {
    color: white;
}

footer {
    background-color: transparent;
}

.monthly-spotlight {
    margin-top: 50px; 
    margin-left: auto; 
    margin-right: auto; 
    width: 80%; 
    text-align: left; 
}

.monthly-spotlight h2 {
    margin-bottom: 20px; 
    text-align: center; 
}

.monthly-card {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    padding: 15px;
    width: calc(100% - 0px);
    display: flex; 
    flex-direction: column; 
    height: 100%; 
}

.monthly-card .row {
    flex: 1; 
    display: flex; 
}

.monthly-card .col-md-4 {
    flex: 0 0 auto; 
}

.monthly-card .col-md-8 {
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
}

.monthly-card .card-body {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 0 0 10px 10px;
}

.monthly-card:hover {
    transform: scale(1.02);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s, box-shadow 0.3s;
}

#bookModal .modal-content {
    background-color: rgba(42, 42, 42, 0.9); 
}

#bookModal .modal-backdrop {
    opacity: 0.5; 
}

.card-title {
    font-size: 1.5rem; 
}

.card-subtitle {
    font-size: 1.25rem; 
}

.card-text {
    font-size: 1rem; 
}

.genres-top-picks {
    background: linear-gradient(to right, rgba(5, 5, 5, 0.6), rgba(34, 34, 34, 0.6));
    padding: 60px 0; 
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px); 
    text-align: left;
}

.genres-top-picks h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.genres-top-picks .d-flex {
    justify-content: space-between;
    flex-wrap: wrap;
}

.genres-top-picks .genre-card {
    flex: 1 1 30%;
    margin: 10px;
}

.genres-top-picks .carousel-inner {
    height: 520px;
}

.genres-top-picks .carousel {
    height: 530px;
}

.carousel {
    pointer-events: none;
}

.carousel-control-prev,
.carousel-control-next {
    pointer-events: auto;
}

.genres-top-picks .carousel-item img {
    width: 100%;
    height: auto;
    max-height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 0.3s;
}

.genres-top-picks .carousel-item img:hover {
    transform: scale(1.05);
}

.genres-top-picks .card {
    background: linear-gradient(to right, rgba(5, 5, 5, 0.6), rgba(34, 34, 34, 0.6));
    border: none;
    border-radius: 8px;
    height: 100%;
    transition: transform 0.3s, box-shadow 0.3s;
}

.genres-top-picks .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.genres-top-picks .card-header {
    background-color: transparent !important;
    border: none;
    font-size: 1.5rem;
}

.genres-top-picks .card-body {
    padding: 1rem;
}

.genres-top-picks .card-text {
    font-size: 1rem;
    color: #ccc; 
}

.testimonials-section {
    background: linear-gradient(to right, rgba(5, 5, 5, 0.6), rgba(34, 34, 34, 0.6));
    border-radius: 20px;
    padding: 60px 20px; 
    text-align: left;
}

.testimonials-section h2 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 30px;
}

.testimonial-card {
    background: linear-gradient(to right, rgba(5, 5, 5, 0.8), rgba(34, 34, 34, 0.8)); 
    border: none; 
    border-radius: 10px; 
    position: relative; 
    padding: 20px; 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    text-align: left;
}

.testimonial-card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5); 
}

.quote {
    font-size: 3rem;
    position: absolute;
    top: 10px;
    left: 10px;
    color: rgba(255, 255, 255, 0.5);
}

.card-body {
    padding: 1.5rem;
}

.faq-section {
    background: linear-gradient(to right, rgba(5, 5, 5, 0.6), rgba(34, 34, 34, 0.6));
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
}

.faq-section h2 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.faq-section .accordion-item {
    margin-bottom: 0; 
}

.faq-section .accordion-button {
    background: rgba(0, 0, 0, 0.4);
    color: white;
    transition: background 0.3s ease;
}

.faq-section .accordion-button:hover {
    background: rgba(0, 0, 0, 0.6);
}

.faq-section .accordion-body {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    color: #ccc; 
    padding: 15px;
}

.footer {
    background: linear-gradient(to right, rgba(5, 5, 5, 0.8), rgba(34, 34, 34, 0.8));
    padding: 40px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    text-align: center;
}

.footer .footer-links {
    margin-bottom: 15px;
}

.footer .footer-link {
    color: #ffffff;
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s;
}

.footer .footer-link:hover {
    color: #eec304; 
}

.footer p {
    color: #ccc; 
    margin: 0;
}

/* About Us Page */
.our-story-section h2 {
    text-align: center; 
    font-size: 5rem; 
    color: #FFD700;
}

.our-story-section {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    padding-bottom: 20px; 
    margin-bottom: 30px; 
}

.mission-section {
    margin-top: 0; 
}

.mission-header {
    font-size: 3.5rem; 
    color: whitesmoke; 
    margin-bottom: 20px;
    text-align: center;
}

.our-story-section.visible {
    opacity: 1;
    transform: translateY(0);
}

.logo-img {
    transition: transform 0.3s ease;
}

.logo-img:hover {
    transform: scale(1.05);
}

.our-story-card {
    background: rgba(255, 255, 255, 0.1); 
    border: 1px solid rgba(255, 255, 255, 0.3); 
    border-radius: 15px; 
    padding: 20px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease;
}

.our-story-card:hover {
    transform: scale(1.02); 
}

.our-story-section p {
    opacity: 0;
    transform: translateY(10px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.our-story-section.visible p {
    opacity: 1;
    transform: translateY(0);
}

.value-card {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    padding: 20px;
    transition: transform 0.3s ease;
    margin-top: 20px
}

.value-card:hover {
    transform: scale(1.05);
}

.value-icon {
    width: 60px; 
    height: 60px; 
    margin-bottom: 15px;
}

.timeline-section {
    position: relative;
    padding: 50px 0;
}

.timeline-title {
    font-size: 3.5rem;
    color: whitesmoke;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 100px;
}

.timeline {
    position: relative;
    max-width: 700px;
    margin: auto;
    padding: 20px 0;
}

.timeline::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 0;
    bottom: 0;
    width: 4px;
    background-color: #FFD700;
    transform: translateX(-50%);
}

.timeline-item {
    position: relative;
    width: 50%;
    padding: 20px 30px;
    box-sizing: border-box;
    text-align: right;
}

.timeline-item:nth-child(even) {
    left: 50%;
    text-align: left;
}

.timeline-item:nth-child(odd) {
    left: 0;
    text-align: right;
}

.timeline-item::before {
    content: '';
    position: absolute;
    top: 20px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #FFD700;
    z-index: 1;
}

.timeline-item:nth-child(odd)::before {
    right: -8px;
}

.timeline-item:nth-child(even)::before {
    left: -8px;
}

.timeline-year {
    font-weight: bold;
    font-size: 1.5rem;
    color: #FFD700;
}

.accordion-button {
    border: none; 
    background-color: transparent; 
    color: #FFD700; 
    font-weight: bold;
    text-align: left; 
}

.accordion-button:not(.collapsed) {
    color: #2c2c2c; 
}

.accordion-body {
    color: #ffffff;
    background: rgba(255, 255, 255, 0.05); 
    padding: 1rem 1.5rem; 
}

.accordion-body p {
    margin: 0; 
    font-size: 1.2rem; 
}

.accordion-collapse {
    transition: max-height 0.3s ease; 
}

/* Join the Nest */
.join-nest-section {
    background: linear-gradient(to right, rgba(5, 5, 5, 0.6), rgba(34, 34, 34, 0.6));
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    margin-bottom: 40px;
}

.join-nest-section h2 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.join-nest-text {
    font-size: 1.5rem;
    color: #ffffff;
    text-align: center;
}

.join-card {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(255, 228, 78, 0.847));
    border: none; 
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    margin: 5px;
}

.join-card:hover {
    transform: translateY(-5px); 
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5); 
}

.card-title {
    color: #ffffff;
    text-align: center;
    font-weight: normal;
}

.card-icon {
    font-size: 2rem; 
    color: #ffd90093; 
    margin-bottom: 8px; 
}

.join-section {
    background: linear-gradient(to right, rgba(5, 5, 5, 0.6), rgba(34, 34, 34, 0.6));
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    margin-bottom: 40px;
}

.join-steps {
    list-style-type: decimal;
    padding-left: 20px; 
    margin: 20px 0;
    color: #ffffff;
    font-size: 1.2rem;
    text-align: left; 
}

.join-steps li {
    margin-bottom: 15px;
}

.step-card {
    background: linear-gradient(to right, rgba(5, 5, 5, 0.6), rgba(34, 34, 34, 0.6));
    color: #eeeeee;
    border: none;
    border-radius: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.step-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.5);
}

.card-title {
    text-align: center;
    font-weight: bold;
}

.join-card-text {
    text-align: center;
    font-size: 1.1rem;
}

.modal-content {
    background-color: rgba(25, 25, 25, 0.7); 
    border-radius: 20px;
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    color: #efefef;
    font-size: 1.5rem; 
}

.modal-body {
    color: #e9e9e9; 
}

.modal-footer {
    border-top: none;
}

.event-list {
    list-style-type: none;
    padding: 0;
    color: #ffffff;
}

.event-list li {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
}

.events-section {
    background: 
        linear-gradient(to right, rgba(5, 5, 5, 0.6), rgba(34, 34, 34, 0.6)), 
        url('/assets/join-the-nest-image.webp');
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(10px);
    margin-bottom: 40px;
}

.events-section h2 {
    text-align: center;
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.events-section-text {
    font-size: 1.2rem;
    color: #ffffff;
}
